[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "formattable"]
	path = formattable
	url = https://github.com/renkun-ken/formattable
[submodule "pipeR"]
	path = pipeR
	url = https://github.com/renkun-ken/piper
[submodule "rlist"]
	path = rlist
	url = https://github.com/renkun-ken/rlist
[submodule "rprintf"]
	path = rprintf
	url = https://github.com/renkun-ken/rprintf
[submodule "rtype"]
	path = rtype
	url = https://github.com/renkun-ken/rtype
