[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pipeR"]
	path = pipeR
	url = https://github.com/renkun-ken/piper
	shallow = true
	registered = true
[submodule "rtype"]
	path = rtype
	url = https://github.com/renkun-ken/rtype
	shallow = true
	registered = true
[submodule "formattable"]
	path = formattable
	url = https://github.com/renkun-ken/formattable
	shallow = true
	registered = true
[submodule "rprintf"]
	path = rprintf
	url = https://github.com/renkun-ken/rprintf
	shallow = true
	registered = true
[submodule "rlist"]
	path = rlist
	url = https://github.com/renkun-ken/rlist
	shallow = true
	registered = true
